.standards__heading--Bronze {
  background-color: #c08f67;
}

.standards__heading--Silver {
  background-color: #b9b9b9;
}

.standards__heading--Gold {
  background-color: #d89843;
}

.standards__heading--Platinum {
  background-color: #8791a0;
}
