/* You can add global styles to this file, and also import other style files */

.amplify-container {
  max-width: 400px;
  margin: 0 auto;
}

.amplify-form-header {
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: bold;
}

.amplify-form-link {
  cursor: pointer;
}

.amplify-input-group {
  display: flex;
  margin: 0 -10px;
}

.amplify-input-group-item {
  flex: 1;
  margin: 0 10px;
}

.amplify-form-action,
.amplify-form-signup,
.amplify-form-text {
  display: block;
  margin-bottom: 1rem;
}

.amplify-form-button {
  margin-bottom: 1rem;
}

.amplify-input-label {
  font-weight: bold;
}
