<div class="search">
    <input class="search__item search__item--text" type="text" [value]="keywords" (keyup)="search.emit(searchInput.value)" #searchInput placeholder="Search by name" aria-label="Search keywords" />

    <select class="search__item search__item--year" *ngIf="years" (change)="onSetYear($event.target.value)">
        <option value="" [selected]="!currentYear">
            All Years
        </option>
        <option
            *ngFor="let year of years"
            [selected]="year == currentYear"
            [value]="year"
        >
            {{ year }}
        </option>
    </select>

</div>