@page {
  size: A4 landscape;
  margin: 0 0 0 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color-adjust: exact;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container {
  position: relative;
  width: 1150px;
  height: 780px;
  overflow: hidden;
}

main {
  position: relative;
  padding: 70px 110px;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 1150px;
}

.logo {
  height: 60px;
  margin-bottom: 20px;
}

.logo path {
  fill: #000;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.title__primary {
  display: block;
  margin-bottom: -10px;
  font-size: 28px;
}

.title__secondary {
  display: block;
  color: #f89829;
  font-size: 50px;
  font-weight: 800;
}

.summary {
  margin-bottom: 35px;
  margin-left: 45px;
  padding-left: 40px;
  border-left: 5px solid #f89829;
  font-size: 18px;
}

.summary__title {
  font-size: 22px;
}

.summary__name {
  color: #f89829;
  font-family: 'Pacifico', cursive;
  font-size: 44px;
}

table {
  position: absolute;
  width: auto;
  margin-left: 90px;
}

table th {
  padding: 2px 20px 2px 0;
  color: #f89829;
  text-align: left;
}

table td {
  padding: 2px 20px 2px 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 100px;
  margin-right: 70px;
}

footer .clubmark-logo {
  height: 70px;
}

footer .signature {
  display: flex;
  flex-direction: column;
  margin: 10px 55px 0;
}

footer .signature__writing {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 42px;
  line-height: 12px;
}

footer .signature__title {
  margin-top: 10px;
  padding-right: 30px;
  border-top: 2px solid #222;
  color: #f89829;
  font-weight: bold;
}

footer .award-badge {
  height: 130px;
}
