<div class="o-section-md">
  <div class="o-site-wrap o-site-wrap--padding">
    <h1>Memberships</h1>

    <h2>All members</h2>

    <bpj-loader *ngIf="loading" [dark]="true"></bpj-loader>

    <ng-container *ngIf="!loading">
      <input (keyup)="applyFilter($event.target.value)" placeholder="Search...">

      <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Urn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>URN</th>
              <td mat-cell *matCellDef="let membership">{{ membership.Urn }}</td>
            </ng-container>

            <ng-container matColumnDef="Lastname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let membership">{{ membership.Firstname }} {{ membership.Lastname }}</td>
            </ng-container>

            <ng-container matColumnDef="Gender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
              <td mat-cell *matCellDef="let membership">{{ membership.Gender | titlecase }}</td>
            </ng-container>

            <ng-container matColumnDef="Dob">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</th>
              <td mat-cell *matCellDef="let membership">{{ membership.Dob }}</td>
            </ng-container>

            <ng-container matColumnDef="CompetitiveRegStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration status</th>
              <td mat-cell *matCellDef="let membership">{{ membership.CompetitiveRegStatus }}</td>
            </ng-container>

            <ng-container matColumnDef="athlete">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Athlete</th>
              <td mat-cell *matCellDef="let membership">{{ membership.athlete?.id ? '' : 'Missing' }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>
  </div>
</div>
