.athlete-standards {
  width: 100%;
}

.standards__heading--corner {
  border-top-width: 0;
  border-left-width: 0;
  background-color: transparent;
}

.athlete-standards thead th,
.athlete-standards tbody td {
  text-align: center;
}

.standards__heading--Bronze {
  background-color: #c08f67;
}

.standards__heading--Silver {
  background-color: #b9b9b9;
}

.standards__heading--Gold {
  background-color: #d89843;
}

.standards__heading--Platinum {
  background-color: #8791a0;
}

@media all and (max-width: 768px) {
  .athlete-standards {
    width: auto;
  }
}
