label {
  display: block;
  margin-bottom: 5px;

  &.invalid {
    color: #f00;
    font-weight: bold;
  }
}

input,
select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 3px;

  .showValidation &.ng-invalid {
    border: 1px solid #fdd;
    background-color: #fee;
  }
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  margin-top: 0.5rem;
  margin-left: auto;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
}

.back {
  text-decoration: none;

  &::before {
    content: "\00ab\2002";
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.columns {
  display: flex;
  margin-left: -10px;

  .column {
    flex: 1;
    margin-left: 10px;

    &.double {
      flex: 2;
    }
  }
}
