<div [formGroup]="form">
  <div class="columns">
    <div class="column formField">
      <label for="gender">Gender</label>

      <select id="gender" formControlName="gender">
        <option value=""></option>
        <option value="M">Male</option>
        <option value="W">Female</option>
      </select>
    </div>

    <div class="column double formField">
      <label for="category">Age category</label>

      <select id="category" formControlName="category">
          <option value=""></option>
          <option value="U20">Under 20</option>
          <option value="U23">Under 23</option>
          <option value="SEN">Senior (23-34)</option>
          <option value="V35">V35-39</option>
          <option value="V40">V40-44</option>
          <option value="V45">V45-49</option>
          <option value="V50">V50-54</option>
          <option value="V55">V55-59</option>
          <option value="V60">V60-64</option>
          <option value="V65">V65-69</option>
          <option value="V70">V70-74</option>
          <option value="V75">V75-79</option>
          <option value="V80">V80-84</option>
      </select>
    </div>
  </div>

  <div class="formField">
    <label for="certificate">Certificate</label>

    <select id="certificate" formControlName="certificate">
      <option value=""></option>
      <option>Bronze</option>
      <option>Silver</option>
      <option>Gold</option>
      <option>Platinum</option>
    </select>
  </div>
</div>