<h2>
  {{ awardClaim.firstName }}
  {{ awardClaim.lastName }}
</h2>

<ul>
  <li>Matched up person with known member?</li>
  <li>Is the person a paid up member?</li>
  <li>Is their age category correct?</li>
  <li>Are all events are in same calendar year?</li>
  <li>Were all events were completed in the same age category?</li>
  <li>Do all events meet the minimum time for the award being claimed?</li>
  <li>Have all finish times have been verified?</li>
</ul>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Event</th>
      <th>Standard</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let race of awardClaim.races">
      <td>{{ race.date | date : "DD/MM/YYYY" }}</td>
      <td><strong>{{ race.timeParsed | finishTime }}</strong></td>
      <td>{{ race.race }}</td>
      <td>
        <span
          class="c-badge"
          [ngClass]="'u-bg-' + race.award | lowercase"
        >{{ race.award }}</span>
      </td>
    </tr>
  </tbody>
</table>