<div class="o-section-md" id="introduction">
  <div class="o-site-wrap o-site-wrap--padding">
    <h1>Club Standards Certificates</h1>

    <bpj-award-claim-table
      [awards]="awardClaims$ | async"
      (viewRaces)="onViewRaces($event)"
      (edit)="onEdit($event)"
      (archive)="onArchive($event)"
      (delete)="onDelete($event)"
      (toggleVerify)="onToggleVerify($event)"
    ></bpj-award-claim-table>
  </div>
</div>

<bpj-modal
  *ngIf="selectedAwardClaim"
  [open]="activeModal === 'edit'"
  (close)="onModalClose()"
>
  <bpj-edit-award-claim-modal [awardClaim]="selectedAwardClaim"></bpj-edit-award-claim-modal>
</bpj-modal>

<bpj-modal *ngIf="selectedAwardClaim" [open]="activeModal === 'viewRaces'" (close)="onModalClose()">
  <bpj-view-races-modal [awardClaim]="selectedAwardClaim"></bpj-view-races-modal>
</bpj-modal>

<bpj-modal *ngIf="selectedAwardClaim" [open]="activeModal === 'validationCheck'" (close)="onModalClose()">
  <bpj-validation-check-modal [awardClaim]="selectedAwardClaim"></bpj-validation-check-modal>
</bpj-modal>