table {
  margin-bottom: 10px;
}

.meeting-page__title {
  line-height: 18px;
}

.meeting-page__subtitle {
  font-size: 18px;
}

.athlete-results__award span {
  padding: 2px 6px;
  border-radius: 3px;
}

.standards__heading--Bronze span {
  background-color: #c08f67;
}

.standards__heading--Silver span {
  background-color: #b9b9b9;
}

.standards__heading--Gold span {
  background-color: #d89843;
}

.standards__heading--Platinum span {
  background-color: #8791a0;
}
