<div class="o-section-md">
  <div class="o-site-wrap o-site-wrap--padding">
    <h1>Magic mile</h1>

    <h2>Record magic mile</h2>

    <bpj-record-magic-mile-form (create)="onSubmit($event)"></bpj-record-magic-mile-form>
  </div>
</div>

<div class="o-section-md o-section-bright">
  <div class="o-site-wrap o-site-wrap--padding">
    <h2>Tools</h2>

    <h3>Delete a record</h3>

    <bpj-delete-magic-mile-form
      [results]="results$ | async"
      (delete)="onDeleteClick($event)"
    ></bpj-delete-magic-mile-form>
  </div>
</div>