.container {
  margin-bottom: 1rem;
  overflow-x: auto;
}

table {
  width: 100%;
  margin-bottom: 0;
}

th {
  text-align: left;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  white-space: nowrap;
}

table tr:last-child * {
  border-bottom: none;
}

.queryLink {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;

  &::before {
    content: '?';
    display: block;
  }
}
