<ng-container *ngIf="records.length">
  <h3 *ngIf="showSubheading">{{ records[0].gender | gender }} {{ records[0].category | category }}</h3>
  <div class="container">
    <table data-sortable class="table table--large">
      <thead>
        <tr>
          <th>Event</th>

          <th>Time</th>

          <th data-sortable-type="alpha">Name</th>

          <th
            *ngIf="!showSubheading"
            data-sortable-type="alpha"
          >
            Category
          </th>

          <th data-sortable-type="alpha">Race</th>

          <th data-sortable-type="date">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td class="nowrap">{{ record.event }}</td>

          <td class="nowrap">{{ record.time }}</td>

          <td
            *ngIf="!showSubheading"
            class="nowrap"
          >
            {{ record.gender | gender : 'short'}}{{ record.category }}
          </td>

          <td class="nowrap">
            <a href="https://www.thepowerof10.info/athletes/profile.aspx?athleteid={{ record.athlete_id }}" target="_blank">
              {{ record.first_name }} {{ record.last_name }}
            </a>
          </td>

          <td>{{ record.race }}</td>

          <td class="nowrap">{{ record.date }}</td>

          <td>
            <a
              (click)="onQuery(record)"
              href="javascript:void(0)"
              class="queryLink"
            >
              <span>Query this record</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>