.container {
  margin-bottom: 1rem;
  overflow-x: auto;
}

table {
  width: 100%;
  margin-bottom: 0;
}

th {
  text-align: left;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  white-space: nowrap;
}

table tr:last-child * {
  border-bottom: none;
}

.queryLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #f89829;
  color: #000;
  text-decoration: none;

  span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  &::before {
    content: '\2026';
    display: block;
  }
}
