<bpj-chip-list>
  <bpj-chip [selected]="filters.archived === null" value="" class="dark" (select)="setFilter('archived', null)">Active</bpj-chip>
  <bpj-chip [selected]="filters.archived === 1" value="" class="dark" (select)="setFilter('archived', 1)">Archived</bpj-chip>
</bpj-chip-list>

<table>
  <thead>
    <tr>
      <th class="u-hidden@max-xs">Submitted</th>
      <th class="u-nowrap">Name</th>
      <th>Category</th>
      <th>Award</th>
      <th>Races</th>
      <th>Verified</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let award of awardsWithFilters()">
      <td class="u-hidden@max-xs">
        <span [attr.title]="award.createdDate | date : 'D MMMM Y'">{{ award.createdDate | date : "fromNow" }}</span>
      </td>
      <td class="u-nowrap">
          <a href="mailto:{{ award.email }}">{{ award.firstName }} {{ award.lastName }}</a>
      </td>
      <td>{{ award.gender | gender : 'short' }}{{ award.category }}</td>
      <td>
        <span
          class="c-badge"
          [ngClass]="'u-bg-' + award.award | lowercase"
        >{{ award.award }}</span>
      </td>
      <td>
        <a (click)="onViewRacesClick(award)" href="javascript:void(0)">
          {{ award.races.length }}
        </a>
      </td>
      <td>
        <a (click)="onToggleVerifyClick(award)" href="javascript:void(0)">
          <bpj-icon
            [icon]="award.verified ? 'tick' : 'cross'"
            [colour]="award.verified ? '#009900' : '#cc0000'"
          ></bpj-icon>
        </a>
      </td>
      <td>
        <span class="action-links">
          <a (click)="onEditClick(award)" href="javascript:void(0)">
            <bpj-icon icon="edit" colour="#666"></bpj-icon>
          </a>

          <a href="https://black-pear-joggers.netlify.com/apps/club-standards/?certificateId={{ award.id }}" target="_blank">
            <bpj-icon icon="print" colour="#666"></bpj-icon>
          </a>

          <a (click)="onArchiveClick(award)" href="javascript:void(0)">
            <bpj-icon icon="archive" colour="#666"></bpj-icon>
          </a>

          <a (click)="onDeleteClick(award)" href="javascript:void(0)">
            <bpj-icon icon="delete" colour="#666"></bpj-icon>
          </a>
        </span>
      </td>
    </tr>
  </tbody>
</table>
