<bpj-chip-list>
    <bpj-chip
      *ngFor="let gender of genders"
      [value]="gender"
      [selected]="gender === (activeGender$ | async)"
      (select)="onSelectGender($event)"
      >
        {{gender === 'W' ? 'Female' : 'Male'}}
      </bpj-chip>
  </bpj-chip-list>

<bpj-chip-list>
  <bpj-chip
    *ngFor="let category of categories"
    [value]="category"
    [selected]="category === (activeCategory$ | async)"
    (select)="onSelectCategory($event)"
    >
    {{category}}
  </bpj-chip>
</bpj-chip-list>

<bpj-loader *ngIf="!(loaded$ | async)"></bpj-loader>

<table class="table table--large">
  <thead>
    <tr>
      <th></th>

      <th class="standards__heading--Bronze">Bronze</th>

      <th class="standards__heading--Silver">Silver</th>

      <th class="standards__heading--Gold">Gold</th>

      <th class="standards__heading--Platinum">Platinum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of standards$ | async">
      <th>{{ event.name }}</th>

      <td *ngFor="let standard of event.standards">
        {{ standard.time }}
      </td>
    </tr>
  </tbody>

</table>