<bpj-chip-list>
  <bpj-chip selected="true">Male</bpj-chip>
  <bpj-chip>Female</bpj-chip>
</bpj-chip-list>

<bpj-chip-list>
  <bpj-chip>U20</bpj-chip>
  <bpj-chip>U23</bpj-chip>
  <bpj-chip selected="true">Senior</bpj-chip>
  <bpj-chip>V35</bpj-chip>
  <bpj-chip>V40</bpj-chip>
  <bpj-chip>V45</bpj-chip>
  <bpj-chip>V50</bpj-chip>
  <bpj-chip>V55</bpj-chip>
  <bpj-chip>V60</bpj-chip>
  <bpj-chip>V65</bpj-chip>
  <bpj-chip>V70</bpj-chip>
  <bpj-chip>V75</bpj-chip>
</bpj-chip-list>

<table class="table table--large">
  <thead>
    <tr>
      <th></th>

      <th class="standards__heading--Bronze">Bronze</th>

      <th class="standards__heading--Silver">Silver</th>

      <th class="standards__heading--Gold">Gold</th>

      <th class="standards__heading--Platinum">Platinum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mile</td>

        <td>7:25</td>

        <td>6:11</td>

        <td>5:18</td>

        <td>4:57</td>

    </tr>

    <tr>
      <td>5K</td>

        <td>25:48</td>

        <td>21:30</td>

        <td>18:26</td>

        <td>17:12</td>

    </tr>

    <tr>
      <td>10K</td>

        <td>53:42</td>

        <td>44:45</td>

        <td>38:21</td>

        <td>35:48</td>

    </tr>

    <tr>
      <td>Half Marathon</td>

        <td>1:58:26</td>

        <td>1:38:42</td>

        <td>1:24:36</td>

        <td>1:18:57</td>

    </tr>

    <tr>
      <td>Marathon</td>

        <td>4:09:50</td>

        <td>3:28:12</td>

        <td>2:58:27</td>

        <td>2:46:33</td>

    </tr>

  </tbody>

</table>